.jumbotron {
  padding-top: 10rem;
  padding-bottom: 1rem;
  background-color: #6F42C1;
}
.bg-custom {
  background-color: #6F42C1;
body {
  background: #1A0933;
}
.hijab {
  padding-top: 2rem;
}

.gelombang{
  padding-top: 5rem;
}

.hm {
  background-color: #000000;
  padding-bottom: 1rem;
}

.ok {
  background-color: #000000;
  padding-top: 1rem;
  
}

.j {
  padding-top: 6rem;
}
